@model Chirper.Models.UserDto

@{
    ViewBag.Title = "Create A Chirper Account";
}

<partial name="_PageTitle" />

<div class="col-sm-6 mx-auto">
    <div class="row text-center">
        <form asp-action="Register" asp-controller="Account" asp-antiforgery=true method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <small>An account activation email will be sent to the email address you provide.<br/></small>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <div class="h-captcha" data-sitekey="@ViewBag.SiteKey"></div>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create Account" class="btn btn-primary" />
                <input type="reset" value="Clear Form" class="btn btn-danger"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="https://js.hcaptcha.com/1/api.js" async></script>
}
