@{
    ViewBag.Title = "About";
}

<div class="px-5">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About Chirper</h1>
        <p class="fs-4">
            This is a small project that mimics the functionality of Twitter. It has the following functionality:
        </p>
        <ul class="fs-4">
            <li>Explore chirps, tags and user profiles as a guest</li>
            <li>Create, log into and delete an account</li>
            <li>Post a chirp up to 1000 characters long</li>
            <li>Post a comment on a chirp up to 500 characters long</li>
            <li>Like or dislike chirps as a registered user</li>
            <li>Follow and unfollow other registered users</li>
            <li>Search for chirps, tags or users</li>
            <li>Utilizes Gravatar for profile images</li>
        </ul>
        <p class="fs-4">
            This project is written using <a class="text-dark" href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc" target="_blank">.NET 6 MVC</a>.<br/>
            It is using <a class="text-dark" href="https://aws.amazon.com/rds/postgresql/" target="_blank">Amazon RDS for PostgreSQL</a>.<br/>
            It is hosted using <a class="text-dark" href="https://aws.amazon.com/apprunner/" target="_blank">AWS App Runner</a>.
        </p>
        <p class="mt-5 fs-6 text-center">
            Please view my <a class="text-dark" href="https://stephendavis.io/" target="_blank">personal website</a> or my <a class="text-dark" href="https://github.com/stephenkdavis/" target="_blank">GitHub profile</a> for my contact details and more of my work.<br/>
            Feel free to connect with me on <a class="text-dark" href="https://linkedin.com/in/stephenkyledavis/" target="_blank">LinkedIn</a>!<br/>
            ~ Stephen K. Davis
        </p>
    </div>
</div>
