@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">The page you requested does not exist.</h2>
<a class="btn btn-outline-success mx-1 my-1 rounded" asp-action="Index" asp-controller="Home">Go Home</a>